@import '../abstract/_variables.scss';

:root{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    background: $color-primary;
    color: $color-quinary;
    margin: 0;
    padding: 0;

    #main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}