@import '../abstract/_variables.scss';


@media(min-width:1024px) {

    .section-card {
        .card-header {
            text-align: center;
            margin-bottom: 5rem;
            a{
                color: $color-quinary;
                background: $color-primary;
                transition: .1s ease-out;
                &:hover{
                    color: $color-primary;
                    background: $color-quinary;
                }
            }
        }
    }

    .start {
        top: 0;
        flex-direction: row;
        align-items: center;
        padding: 1rem 3rem;

        .start-content {
            padding: 1rem;
        }

        .left-content {
            width: 40%;
        }

        .right-content {
            text-align: start;
            width: 40%;
        }
    }

    .about-me {

        width: 55%;
        text-align: center;

    }


    .tecnologies {
        padding: 0;
        margin: 0;
        text-align: start;

        .card-body {
            display: flex;


            .tecnology-list {
                justify-content: flex-start;
                width: 100%;

                ul {
                    width: 90%;
                    .tecnology-card {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border: 1px solid transparent;
                        border-radius: 15px;
                        margin-bottom: 1rem;
                        padding: .5rem 1.5rem;
                        background-color: $color-primary;
                        margin-bottom: 1rem;
                        padding: .5rem 1.5rem;
                    }
                }
            }

                #card-html{
                    &:hover{
                        border: 1px solid $color-tertiary;
                        text-shadow: 0 0 3px $color-tertiary;
                        color: $color-tertiary;
                    }
                }

                #card-css{
                    &:hover{
                        border: 1px solid $color-card-css-primary;
                        text-shadow: 0 0 3px $color-card-css-primary;
                        color: $color-card-css-primary;
                    }
                }

                #card-javascript{
                    &:hover{
                        border: 1px solid $color-card-javascript-primary;
                        text-shadow: 0 0 3px $color-card-javascript-primary;
                        color: $color-card-javascript-primary;
                    }
                }

                #card-php{
                    &:hover{
                        border: 1px solid $color-card-php-primary;
                        text-shadow: 0 0 3px $color-card-php-primary;
                        color: $color-card-php-primary;
                    }
                    &::before{
                        background: $color-card-php-primary;
                        box-shadow: 1px 43px 54px $color-card-php-primary;
                    }
                }




            .tecnology-brief {
                width: 60vw;
                display: block;
                padding: 1rem 2rem;
                border-radius: 15px;

                .tecnology-content {
                    display: none;
                }
            }
        }
    }

}

// .card-body{
//     padding: .5rem;
//     display: flex;

//     .tecnology-list{
//         width: 50%;
//         ul{
//             padding: 0;
//             position: relative;


//             .tecnology-card{
//                 display: flex;
//                 align-items: center;
//                 height: 40px;
//                 width: 37rem;
//                 border-radius: 15px;
//                 margin-bottom: 1rem;
//                 padding: .5rem 1.5rem;
//                 position: relative;
//                 background-color: $color-primary;
//                 &:hover::before{
//                     height: 100%;
//                     width: 100%;
//                     content: '';
//                     position: absolute;
//                     left: -3px;
//                     top: 3px;
//                     z-index: -1;
//                     border-radius: 15px;
//                     background: white;
//                     margin: 0;
//                     padding: 0;
//                 }
//                 &:hover::after{
//                     height: 100%;
//                     width: 100%;
//                     content: '';
//                     position: absolute;
//                     left: 3px;
//                     top: -3px;
//                     z-index: -1;
//                     border-radius: 15px;
//                     margin: 0;
//                     padding: 0;
//                 }

//             }

//             #card-html{
//                 &:hover{
//                     border-top: 1px solid $color-tertiary;
//                     text-shadow: 0 0 3px $color-tertiary;
//                     color: $color-tertiary;
//                 }
//                 &::before{
//                     background: $color-tertiary;
//                     box-shadow: -1px 1px 3px $color-tertiary;
//                 }
//             }

//             #card-css{
//                 &:hover{
//                     border-top: 1px solid $color-card-css-primary;
//                     text-shadow: 0 0 3px $color-card-css-primary;
//                     color: $color-card-css-primary;
//                 }
//                 &::before{
//                     background: $color-card-css-primary;
//                     box-shadow: -1px 1px 3px $color-card-css-primary;
//                 }
//             }

//             #card-javascript{
//                 &:hover{
//                     border-top: 1px solid $color-card-javascript-primary;
//                     text-shadow: 0 0 3px $color-card-javascript-primary;
//                     color: $color-card-javascript-primary;
//                 }
//                 &::before{
//                     background: $color-card-javascript-primary;
//                     box-shadow: -1px 1px 3px $color-card-javascript-primary;
//                 }
//             }

//             #card-php{
//                 &:hover{
//                     border-top: 1px solid $color-card-php-primary;
//                     text-shadow: 0 0 3px $color-card-php-primary;
//                     color: $color-card-php-primary;
//                 }
//                 &::before{
//                     background: $color-card-php-primary;
//                     box-shadow: -1px 1px 3px $color-card-php-primary;
//                 }
//             }
//         }
//     }

//     .tecnology-brief{
//         width: 46%;
//         height: 80vh;
//         border-radius: 15px;
//         padding: 1rem;
//         position: relative;
//         right: 1.5%;

//         .tecnology-content{
//             display: none;
//         }
//     }