@import '../abstract/_variables.scss';

.nav-container {

    display: flex;
    font-family: $font-primary;

    a {
        text-decoration: none;
        color: $color-quinary;
    }

    button {
        height: 3rem;
        width: 3rem;
        margin: 1rem .5rem;
        background: transparent;
        border: none;
        z-index: 2;
        position: fixed;
        cursor: pointer;

        i {
            text-align: center;
            font-size: 2.5rem;
            color: $color-quinary;
        }
    }

    .navbar-main {
        display: flex;
        background: rgba($color: #000000, $alpha: 0.8);
        height: 100vh;
        width: 70%;
        padding: 1rem;
        position: fixed;
        left: -100%;
        transition: .1s ease-out;
        z-index: 2;
        ul {
            position: relative;
            top: 6rem;
            list-style: none;
            padding: 1rem;
            li {
                font-size: 2rem;
                margin-bottom: 3rem;
            }
        }
    }

    .active {
        left: 0;
    }

    h1 {
        align-self: center;
        position: relative;
        left: 4.5rem;
        text-transform: uppercase;
        font-size: $font-size-title;
    }
}











// #navbar-main {
//     font-family: $font-primary;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     height: $size-navbar;
//     margin: 0;
//     padding: 0;
//     border-bottom: 2px solid $color-quinary;

//     a {
//         color: $color-quinary;
//         text-decoration: none;
//     }

//     ul {
//         margin: 0;
//         padding: .5rem 1rem;
//         display: flex;
//         justify-content: center;
//         list-style: none;

//         li {

//             a {
//                 margin: .25rem 1rem;
//                 padding: .25rem .5rem;
//                 border-radius: 15px;
//                 font-size: $font-size-navbar-desktop;
//                 margin: .25rem 1rem;
//                 padding: .25rem .5rem;
//                 border-radius: 15px;
//                 font-size: $font-size-navbar-desktop;

//                 &:hover {
//                     background: $color-quinary;
//                     color: $color-secondary;
//                 }
//             }

//         }
//     }
// }