@import '../abstract/_variables.scss';




.section-card{
    height: 100vh;
    text-align:center;
    padding: 1rem;
    .card-header{
        h2{
            font-size: $font-size-text-mobile + 10px;
        }
        a{
            font-size: $font-size-text-mobile - 5px;
            color:$color-primary;
            background: $color-quinary;
            text-decoration: none;
            padding: .25rem .5rem;
            border-radius: 15px;
        }
    }
    p{
        font-size: $font-size-text-mobile - 5px;
    }

}

.start{
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;

    .start-content{
        p{
            font-size: $font-size-text-mobile;
        }
    }
}

.tecnologies{
    .card-body{
        margin-top: 5rem;
        display: flex;


        .tecnology-list{
            width: 100%;
            display: flex;
            justify-content: center;
            ul{
                list-style: none;
                padding: 0;
            }
        }

        .tecnology-brief{
            display: none;
        }
    }
}