@import '../abstract/_variables.scss';

.section-card{
    font-family: $font-primary;
    min-height: 100vh;
    .card-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            text-align: center;
        }
        a{
            color: $color-quinary;
            text-decoration: none;
            padding: .25rem .5rem;
            border-radius: 15px;
            position: relative;
            justify-self: flex-end;
            &:hover{
                background: $color-quinary;
                color: $color-primary;
            }
        }
    }

    .card-body{
        padding: .5rem;
        display: flex;
        flex-direction: column;

        .tecnology-list{
            ul{
                padding: 0;
                position: relative;


                .tecnology-card{
                    display: flex;
                    align-items: center;
                    height: 40px;
                    width: 38rem;
                    border-radius: 15px;
                    margin-bottom: 1rem;
                    padding: .5rem 1.5rem;
                    position: relative;
                    background-color: $color-primary;
                    &:hover::before{
                        height: 100%;
                        width: 100%;
                        content: '';
                        position: absolute;
                        left: -3px;
                        top: 3px;
                        z-index: -1;
                        border-radius: 15px;
                        background: white;
                        margin: 0;
                        padding: 0;
                    }
                    &:hover::after{
                        height: 100%;
                        width: 100%;
                        content: '';
                        position: absolute;
                        left: 3px;
                        top: -3px;
                        z-index: -1;
                        border-radius: 15px;
                        background: lightcoral;
                        margin: 0;
                        padding: 0;
                    }

                }

                #card-html{
                    &:hover{
                        text-shadow: 0 0 3px $color-tertiary;
                        color: $color-tertiary;
                    }
                    &::before{
                        background: $color-tertiary;
                        box-shadow: -1px 1px 3px $color-tertiary;
                    }
                    &::after{
                        background: $color-tertiary;
                        box-shadow: 1px -1px 3px $color-quaternary;
                    }
                }

                #card-css{
                    &:hover{
                        text-shadow: 0 0 3px $color-card-css-primary;
                        color: $color-card-css-primary;
                    }
                    &::before{
                        background: $color-card-css-primary;
                        box-shadow: -1px 1px 3px $color-card-css-primary;
                    }
                    &::after{
                        background: $color-card-css-primary;
                        box-shadow: 1px -1px 3px $color-card-css-primary;
                    }
                }

                #card-javascript{
                    &:hover{
                        text-shadow: 0 0 3px $color-card-javascript-primary;
                        color: $color-card-javascript-primary;
                    }
                    &::before{
                        background: $color-card-javascript-primary;
                        box-shadow: -1px 1px 3px $color-card-javascript-primary;
                    }
                    &::after{
                        background: $color-card-javascript-primary;
                        box-shadow: 1px -1px 3px $color-card-javascript-primary;
                    }
                }

                #card-php{
                    &:hover{
                        text-shadow: 0 0 3px $color-card-php-primary;
                        color: $color-card-php-primary;
                    }
                    &::before{
                        background: $color-card-php-primary;
                        box-shadow: -1px 1px 3px $color-card-php-primary;
                    }
                    &::after{
                        background: $color-card-php-primary;
                        box-shadow: 1px -1px 3px $color-card-php-primary;
                    }
                }
            }
        }


    }

}

#tecnologias{
    border: 1px solid white;
}