// COLORS

$color-primary:rgb(27, 23, 23);
$color-secondary:rgb(30,33,36);
$color-tertiary:rgb(206, 18, 18);
$color-quaternary:rgb(129, 0, 0);
$color-quinary:rgb(238, 235, 221);


//FONTS
$font-size-title:24px;
$font-size-text:14px;
$font-size-navbar-desktop:18px;



//SIZES
$size-navbar: 5rem;