// COLORS

$color-primary:rgb(27, 23, 23);
$color-secondary:rgb(30,33,36);
$color-tertiary:rgb(206, 18, 18);
$color-quaternary:rgb(129, 0, 0);
$color-quinary:rgb(238, 235, 221);

$color-card-css-primary:rgb(152, 193, 217);
$color-card-css-secondary:rgb(61, 90, 128);

$color-card-javascript-primary:rgb(245, 131, 1);
$color-card-javascript-secondary:rgb(42, 46, 52);

$color-card-php-primary:rgb(171,0,255);
$color-card-php-secondary:rgb(49,0,74);
//FONTS

$font-size-title:24px;
$font-size-text:14px;
$font-size-text-mobile:30px;
$font-size-navbar-desktop:16px;
$font-primary:'Quando', serif;




//SIZES
$size-navbar: 5rem;