:root {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(27, 23, 23);
  color: rgb(238, 235, 221);
  margin: 0;
  padding: 0;
}

#navbar-main {
  display: flex;
  font-family: "Quando", serif;
}
#navbar-main a {
  text-decoration: none;
  color: rgb(238, 235, 221);
}
#navbar-main button {
  height: 3rem;
  width: 3rem;
  margin: 1rem 0.5rem;
  background: transparent;
  border: none;
  z-index: 2;
}
#navbar-main button i {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(238, 235, 221);
}
#navbar-main ul {
  height: 100%;
  width: 55%;
  position: fixed;
  left: -100%;
  padding: 2rem 1rem;
  list-style: none;
  transition: 0.1s ease-out;
}
#navbar-main ul li {
  position: relative;
  top: 20%;
  font-size: 2rem;
  margin-bottom: 3rem;
}
#navbar-main .active {
  left: 0;
}
#navbar-main h1 {
  align-self: center;
  position: relative;
  text-transform: uppercase;
}

#start {
  display: flex;
}
#start .start-content {
  width: 50%;
  padding: 1rem;
}
#start .start-content p {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  font-size: 21px;
}
#start .left-content {
  width: 40%;
  text-align: center;
}
#start .right-content p {
  width: 80%;
}

#sobre-mim .sobre-mim-content {
  position: relative;
  top: 10rem;
  width: 50%;
}

.section-card {
  font-family: "Quando", serif;
  min-height: 100vh;
}
.section-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-card .card-header h2 {
  text-align: center;
}
.section-card .card-header a {
  color: rgb(238, 235, 221);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  position: relative;
  justify-self: flex-end;
}
.section-card .card-header a:hover {
  background: rgb(238, 235, 221);
  color: rgb(27, 23, 23);
}
.section-card .card-body {
  padding: 0.5rem;
  display: flex;
}
.section-card .card-body .tecnology-list {
  width: 50%;
}
.section-card .card-body .tecnology-list ul {
  padding: 0;
  position: relative;
}
.section-card .card-body .tecnology-list ul .tecnology-card {
  display: flex;
  align-items: center;
  height: 40px;
  width: 37rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  background-color: rgb(27, 23, 23);
}
.section-card .card-body .tecnology-list ul .tecnology-card:hover::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: -3px;
  top: 3px;
  z-index: -1;
  border-radius: 15px;
  background: white;
  margin: 0;
  padding: 0;
}
.section-card .card-body .tecnology-list ul .tecnology-card:hover::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: 3px;
  top: -3px;
  z-index: -1;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}
.section-card .card-body .tecnology-list ul #card-html:hover {
  border-top: 1px solid rgb(206, 18, 18);
  text-shadow: 0 0 3px rgb(206, 18, 18);
  color: rgb(206, 18, 18);
}
.section-card .card-body .tecnology-list ul #card-html::before {
  background: rgb(206, 18, 18);
  box-shadow: -1px 1px 3px rgb(206, 18, 18);
}
.section-card .card-body .tecnology-list ul #card-css:hover {
  border-top: 1px solid rgb(152, 193, 217);
  text-shadow: 0 0 3px rgb(152, 193, 217);
  color: rgb(152, 193, 217);
}
.section-card .card-body .tecnology-list ul #card-css::before {
  background: rgb(152, 193, 217);
  box-shadow: -1px 1px 3px rgb(152, 193, 217);
}
.section-card .card-body .tecnology-list ul #card-javascript:hover {
  border-top: 1px solid rgb(245, 131, 1);
  text-shadow: 0 0 3px rgb(245, 131, 1);
  color: rgb(245, 131, 1);
}
.section-card .card-body .tecnology-list ul #card-javascript::before {
  background: rgb(245, 131, 1);
  box-shadow: -1px 1px 3px rgb(245, 131, 1);
}
.section-card .card-body .tecnology-list ul #card-php:hover {
  border-top: 1px solid rgb(171, 0, 255);
  text-shadow: 0 0 3px rgb(171, 0, 255);
  color: rgb(171, 0, 255);
}
.section-card .card-body .tecnology-list ul #card-php::before {
  background: rgb(171, 0, 255);
  box-shadow: -1px 1px 3px rgb(171, 0, 255);
}
.section-card .card-body .tecnology-brief {
  width: 46%;
  height: 80vh;
  border-radius: 15px;
  padding: 1rem;
  position: relative;
  right: 1.5%;
}
.section-card .card-body .tecnology-brief .tecnology-content {
  display: none;
}/*# sourceMappingURL=style.css.map */