:root {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(27, 23, 23);
  color: rgb(238, 235, 221);
  margin: 0;
  padding: 0;
}

#navbar-main {
  font-family: "Quando", serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid rgb(238, 235, 221);
}
#navbar-main a {
  color: rgb(238, 235, 221);
  text-decoration: none;
}
#navbar-main ul {
  margin: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}
#navbar-main ul li {
  margin: 0.25rem 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-size: 16px;
}

.section-card {
  font-family: "Quando", serif;
  min-height: 100vh;
}
.section-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-card .card-header h2 {
  text-align: center;
}
.section-card .card-header a {
  color: rgb(238, 235, 221);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  position: relative;
  justify-self: flex-end;
}
.section-card .card-header a:hover {
  background: rgb(238, 235, 221);
  color: rgb(27, 23, 23);
}
.section-card .card-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.section-card .card-body .tecnology-list ul {
  padding: 0;
  position: relative;
}
.section-card .card-body .tecnology-list ul .tecnology-card {
  display: flex;
  align-items: center;
  height: 40px;
  width: 38rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  background-color: rgb(27, 23, 23);
}
.section-card .card-body .tecnology-list ul .tecnology-card:hover::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: -3px;
  top: 3px;
  z-index: -1;
  border-radius: 15px;
  background: white;
  margin: 0;
  padding: 0;
}
.section-card .card-body .tecnology-list ul .tecnology-card:hover::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: 3px;
  top: -3px;
  z-index: -1;
  border-radius: 15px;
  background: lightcoral;
  margin: 0;
  padding: 0;
}
.section-card .card-body .tecnology-list ul #card-html:hover {
  text-shadow: 0 0 3px rgb(206, 18, 18);
  color: rgb(206, 18, 18);
}
.section-card .card-body .tecnology-list ul #card-html::before {
  background: rgb(206, 18, 18);
  box-shadow: -1px 1px 3px rgb(206, 18, 18);
}
.section-card .card-body .tecnology-list ul #card-html::after {
  background: rgb(129, 0, 0);
  box-shadow: 1px -1px 3px rgb(129, 0, 0);
}
.section-card .card-body .tecnology-list ul #card-css:hover {
  text-shadow: 0 0 3px #98c1d9;
  color: #98c1d9;
}
.section-card .card-body .tecnology-list ul #card-css::before {
  background: #98c1d9;
  box-shadow: -1px 1px 3px #98c1d9;
}
.section-card .card-body .tecnology-list ul #card-css::after {
  background: #3d5a80;
  box-shadow: 1px -1px 3px #3d5a80;
}
.section-card .card-body .tecnology-list ul #card-javascript:hover {
  text-shadow: 0 0 3px #f58301;
  color: #f58301;
}
.section-card .card-body .tecnology-list ul #card-javascript::before {
  background: #f58301;
  box-shadow: -1px 1px 3px #f58301;
}
.section-card .card-body .tecnology-list ul #card-javascript::after {
  background: #2a2e34;
  box-shadow: 1px -1px 3px #2a2e34;
}
.section-card .card-body .tecnology-list ul #card-php:hover {
  text-shadow: 0 0 3px rgb(171, 0, 255);
  color: rgb(171, 0, 255);
}
.section-card .card-body .tecnology-list ul #card-php::before {
  background: rgb(171, 0, 255);
  box-shadow: -1px 1px 3px rgb(171, 0, 255);
}
.section-card .card-body .tecnology-list ul #card-php::after {
  background: rgb(49, 0, 74);
  box-shadow: 1px -1px 3px rgb(49, 0, 74);
}

#tecnologias {
  border: 1px solid white;
}/*# sourceMappingURL=style.css.map */